body {  
  font-family: Arial, Helvetica, sans-serif;  
  margin: 0;  
  line-height: 1.6;  
}  
header {  
  background-color: #a5bcc5;  
  padding: 20px 0;  
} 
.container {  
  max-width: 1200px;  
  margin: 0 auto;
  padding: 20px;  
}   
 .logo img,
.img img {  
  height: 50px; 
}
h2 {
display: flex;
justify-content: center;
}  

nav ul {  
  list-style: none;  
  padding: 0;  
  margin: 0;  
  text-align: right;  
}  

nav li {  
  display: inline-block;  
  margin-left: 20px;  
}

nav a {  
  text-decoration: none;  
  color: #333;  
} 
.car-listings {  
  display: flex;  
  flex-wrap: wrap;  
  justify-content: space-around;  
}  

.car-card {  
  width: 300px;  
  margin-bottom: 20px;  
  box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.1);  
  border-radius: 5px;  
  overflow: hidden; 
  transition: 0.3s; 
} 

.car-card img {  
  width: 100%;  
  height: 200px;  
  object-fit: cover;  
}  

.car-card h3 {  
  padding: 10px;  
}  

.car-card p {  
  padding: 10px;  
}  

.car-card button {  
  background-color: #4CAF50;  
  color: white;  
  padding: 10px 20px;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  width: 100%;  
}  
.car-card button:hover{
  color:#3b503c;
}

.nli:hover {
   color:blue;
}
.li:hover {
    size: 1.5%;
    color:black;
}
.car-card:hover {
    height: 380px ;
    width:310px;
  }
.back {
    
    color:rgb(65, 90, 111);
    size: 50px;
    text-decoration: none;
}
.button {
   
    
    text-decoration: none;
}
.button:hover{
    color:rgb(35, 42, 55);
}
.button:link{
    color:#ddd;
}
footer {  
  background-color: #333;  
  color: white;  
  padding: 20px 0;  
  text-align: center;  
}  

footer ul {  
  list-style: none;  
  padding: 0;  
  margin: 0;  
}  

footer li {  
  display: inline-block;  
  margin: 0 10px;  
}  

footer a {  
  color: white;  
  text-decoration: none;  
}  